<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Drop In</title>
</head>
  <body>
    <div class="image">
      <!-- <img src="https://s-media-cache-ak0.pinimg.com/736x/4b/73/6b/4b736bebe1229013617e1936efa9e965.jpg" alt="" /> -->
      <h1><strong>drop<strong> in <i class="fa fa-caret-square-o-down" aria-hidden="true"></i></h1>

      <h3><%= link_to 'Find A Box', drop_in_path %></h3>
    </div>
  </body>
</html>
